{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": ["amplify:GetApp"],
      "Resource": "arn:aws:amplify:ap-southeast-1:${OWNER_ACCOUNT}:apps/${OWNED_AMPLIFY_APP_ID}"
    },
    {
      "Effect": "Allow",
      "Action": ["amplify:GetBranch", "amplify:ListJobs", "amplify:CreateDeployment", "amplify:StartDeployment"],
      "Resource": "arn:aws:amplify:ap-southeast-1:${OWNER_ACCOUNT}:apps/${OWNED_AMPLIFY_APP_ID}/branches/showcase-c1"
    },
    {
      "Effect": "Allow",
      "Action": ["amplify:GetJob"],
      "Resource": "arn:aws:amplify:ap-southeast-1:${OWNER_ACCOUNT}:apps/${OWNED_AMPLIFY_APP_ID}/branches/showcase-c1/jobs/*"
    }
  ]
}
